body{
    padding:50px;
}

  
.form-group{
    margin-bottom:30px;
}

.button-group {
    display: flex;
    justify-content: flex-end; /* Moves buttons to the right */
    align-items: center; /* Aligns buttons vertically */
    gap: 10px; /* Adds space between buttons */
}

.click-export{
    display: flex;
    justify-content: flex-end; /* Moves buttons to the right */
    align-items: center; /* Aligns buttons vertically */
    gap: 10px; /* Adds space between buttons */
}