body{
    padding:50px;
}

  
.form-group{
    margin-bottom:30px;
}

.button-group {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 10px; 
}

.click-export{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 10px; 
}